@font-face {
  font-family: 'NorseBold';
  src: url('Norse-Bold.otf') format('opentype');
  font-weight: normal; 
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#container {
    width: 70%;
    margin: auto;
    display: flex;
    height: 100vh;
    min-width: 1200px;
}

.logo-section {
    background-image: url('tim-patch-rqsRG26RCEU-unsplash.jpg');
    background-size: cover;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    margin-top: 200px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 30%);
    text-align: center;
    width: 500px;
}

.logo img {
    height: 120px;
}

.logo span {
    font-family: 'NorseBold', sans-serif;
    font-size: 80px;
    color: white;
}

.photo-credits {
    margin-top: auto;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 30%);
    color: white;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

.photo-credits a {
    color: white;
}

.content-section {
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
}

.mission {
    padding: 150px 130px 60px 40px;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.mission p:last-child {
    margin-top: 25px;
}

.user-data {
    background-color: white;
    padding: 15px 40px 40px;
    box-shadow: 0 8px 12px -10px rgba(0, 0, 0, 30%);

}

.user-data p {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;    
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
}

.form-input label {
    display: block;
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-top: 20px;
    margin-bottom: 3px;
}

.form-input input {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    padding: 3px;
    border: 2px solid rgb(238, 236, 236);
    border-radius: 5px;
    margin-right: 50px;
}

input:focus {
    border-color: #67BCDB;
    border-width: 2px;
    outline: none;
    box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 30%);
}

input:invalid {
    border-color: rgb(185, 0, 0);
}

.account {
    padding: 30px 40px;
}

.account button {
    background-color: #DEA977;
    color: white;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 30%);
    font-size: 16px;
    font-weight: bold;
    padding: 12px 45px;
    margin-bottom: 30px;
}

.account button:hover {
    background-color: #ECBB9A;
}

.account button:active {
    background-color: #9C6F4B;
}

.account p {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}

.account a {
    color: #2D9AC4;
    text-decoration: none;
}



